.TabelaProdutos table{
    width: 100%;
}

.TabelaProdutos th{
    background-color: #0b4949;
    color: #fff;
}

.TabelaProdutos .Par{
    background-color: #ddd;
}
.TabelaProdutos .Impar{
    background-color: #ccc;
}