.App .Cards {
    display: flex;
    justify-content: center; /* pega a referencia do eixo em que
    esta disposto neste caso o horizontal */
    flex-wrap: wrap; /* isso faz com que quebre a linha quando chegar na borda */

    /* flex-direction: <referencia_de_disposição_do_Card>; 
    flex-wrap: <referencia_de_quebra_de_linha>;
    justify-content: <referencia_de_espaçamento_justificado(vertical)>;
    align-items: <referencia_de_alinhamento_horizontal> ;*/

}