/* Aqui temos as configurações do estilo do index.js */
body {
    font-family: Oswald;
    background-color: #222;
    /* serve para trocar a cor do fundo */
    color: #fff;
    /* serve para trocar a cor da fonte */
    text-align: center;
    font-size: 1.4rem;
}

h1{
    font-weight: 200;
}

h2, h3 {
    margin: 0;
}